* {
    box-sizing: border-box;
}

:root {
    --primary-color: #FFB900;
    --font-heading: Sen, sans-serif;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: 'Poppins', sans-serif;
}

/* Common */
.main-content {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: none;
}

.btn {
    min-width: 118px;
    display: inline-block;
    padding: 0 16px;
    line-height: 50px;
    text-align: center;
    font-size: 16.rem;
    color: #FFFFFF;
    background: #171100;
    border-radius: 999px;
}

.btn:hover {
    opacity: 0.9;
}
/* Header */

.header {
   background: #FFFCF4;
}

.header.fixed {
    position: sticky;
    top: -28px;
    z-index: 1;
}

.header .body {
    display: flex;
    align-items: center;
    padding: 36px 0 8px;
}

.nav {
    margin-left: auto;
}

.nav ul {
    display: flex;
}

.nav a {
    padding: 8px 21px;
    font-size: 1.6rem;
    color: #5F5B53;
    position: relative;
}

.nav a:hover,
.nav li.active a {
    /* font-weight: 600; */
    text-shadow: 1px 0 0 currentColor;
    color: #171100;
}

.nav li.active a::after {
    left: 21px;
    bottom: 6px;
    display: block;
    content: "";
    width: 12px;
    height: 2px;
    background: #171100;
    border-radius: 1px;
    position: absolute;
}

.header .sign-up-btn {
    min-width: 144px;
}

.header .action {
    margin-left: 49px;
}

/* Hero */
.hero {
    padding: 56px 0 65px;
    background: #FFFCF4;
}

.hero .body {
    display: flex;
}

.hero .media-block {
    position: relative;
    width: 48%;
}

.hero .media-block .img {
    width: 470px;
    height: 685px;
    object-fit: cover;
    border-radius: 20px;
    display: block;
}

.hero .media-block .hero-summary {
    position: absolute;
    right: 0;
    bottom: 48px;
    width: 270px;
    background: #FFFFFF;
    padding: 24px;
    box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.05);
    border-radius: 12px;
}

.hero .hero-summary .item {
    display: flex;
    align-items: center;
}

.hero .hero-summary .item +.item {
    margin-top: 22px;
}

.hero-summary .icon {
    height: 48px;
    width: 48px;
    border-radius: 50%;
    background: #FFF9E8;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-summary .item:nth-of-type(2)  .icon {
    background: #FCEFFF;
}

.hero-summary .item:nth-of-type(3)  .icon {
    background: #EBEAFF;
}


.hero-summary .info {
    margin-left: 16px;
}

.hero-summary .info .label {
    font-weight: 400;
    font-size: 1.4rem;
    color: #5F5B53;
}

.hero-summary .info .title {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #171100;
    
}
/* Hero right */
.hero .content-block {
    width: 52%;
    padding: 64px 0 0 130px;
}

.hero .content-block .heading {
    font-family: var(--font-heading);
    font-weight: 700;
    font-size: 5.8rem;
    line-height: 1.17;
    /* or 117% */
    letter-spacing: -0.02em;
    color: #171100;
}

.hero .content-block .desc {
    margin-top: 22px;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #5F5B53;
}

.hero .content-block .cta-group {
    display: flex;
    align-items: center;
    margin-top: 38px;
}
.hero .content-block .hero-cta {
    min-width: 180px;
    line-height: 64px;
    background: var(--primary-color);
    border-radius: 32px;
}

.hero .content-block .watch-video {
    display: flex;
    margin-left: 28px;
    border: none;
    align-items: center;
    background: transparent;
    cursor: pointer;
}

.hero .content-block .watch-video .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #FFFFFF;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.07);
}

.hero .content-block .watch-video span {
    margin-left: 14px;
    font-weight: 600;
    font-size: 1.8rem;
    color: #171100;
    
}

.hero .content-block .desc-stats {
    margin-top: 48px;
}
.hero .content-block .stats {
    margin-left: -28px;
    margin-top: 8px;
}

.hero .content-block .stats strong {
    padding: 0 8px 0 28px;
    font-family: var(--font-heading);
    font-weight: 700;
    font-size: 4.4rem;
    line-height: 1.23;
    color: #171100;
}